* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    background-color:transparent;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 10px;
    position: sticky;
    top: 0px;
    left: 0px;
}

.nav .nav-links {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: antiquewhite;
}

.nav> a {
    width:80% ;
    cursor: pointer;

}

.nav-img{
    display:flex ;
    width:6% ;
}

.first-section {
    background-color: blueviolet;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.first-center-section{

    /* display: flex;
    justify-content: center;
    text-align: center;
    align-content: center; */

}

.text-section-text {
    color: antiquewhite;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 10px 0;

}

.buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 10px 0;
    gap: 5px;

}

.buttons button{
    background-color:rgba(250, 235, 215, 0.174);
    color: antiquewhite;
    padding: 15px ;
    border: 16px;
    border-color: antiquewhite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition-duration: 1s;
    transition-property: scale , background;
}

.buttons button:hover{
    background-color: rgb(169, 169, 169);
    scale: calc(1.4);
}

.white-section {
    display: flex;
    margin:30px ;

}

.white-section .white-img{
    width: 20%;
    margin:30px ;

}

.text-decor {
    margin: 20px;
    padding: 10px;
}

.white-section h1,
p {
    color: black;
    margin: 20px 20px 20px 10px;
    padding: 10px;

}

.heart {
    display: flex;

}

.env svg {
     border: 2px solid black;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     padding: 1px;

}

.group svg {
     border: 2px solid black;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     padding: 1px;

}

.heart svg {
     border: 2px solid black;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     padding: 1px;

}

.verfication svg {
     border: 2px solid black;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     padding: 1px;

}

footer {
    background-color: darkgray;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.footer-icon {
    color: blueviolet;
    margin-left: 20px;
    translate:no;
    transition-duration: 1s;
    transition-property: scale,margin;

}

.footer-icon:hover{
    scale: calc(1.4);
    margin-left: 20px;
}
