* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.hero-section {
    background-image: url("../images/bck.jpg");
    background-size: cover;
    height: 100vh;
}

.form-control {
    opacity: .4;
    border: 1px solid ;
    margin-bottom: 10px;
}

.btn-outline-primary {
    opacity: 1;
}

.btn-outline-primary:hover {
    scale: calc(1.1);
}

.card {
    width: 18rem;
    margin: 10px auto;
    height: 40vh;
    background-color: rgba(169, 169, 169, 0.116);

}

.card:hover {
    scale: calc(1.1);
}