* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.hero-section {
    background-image: url("../images/bck.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    opacity: .4;
    border: 1px solid ;
    margin-bottom: 10px;
    /* color: rgb(255, 202, 44); */
}

.btn{
    opacity: 1;
    color:darkslategray;
}

.btn-outline-primary:hover {
    scale: calc(1.1);
}

.card {
    width: 18rem;
    margin: 0 auto;
    padding: 10px;
    min-height: 40vh;
    background-color: rgba(179, 163, 111, 0.338);
    border-radius: 20px;
    box-shadow: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.card:hover {
    scale: calc(1.1);
    padding: 15px;

}

.tasks {
    color: bisque;
    background-color: rgba(179, 163, 111, 0.338);
}
